@{
    Layout = "/Views/Shared/Student/_LayoutStudent.cshtml";
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="/css/common/aboutUs.css">
<div class="">
    <div class="main">
        <div class="top">
            <div class="card">
                <div class="card__img">
                    <img src="/img/nhattm3.jpg" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Trịnh Minh Nhật</p>
                        <p class="industry">Software Engineering</p>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/minh-nhat-trinh-792a51258/" class="profile">Linkedin</a>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="/img/nguyennh.jpg" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Nguyễn Hoàng Nguyên</p>
                        <p class="industry">Software Engineering</p>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/ho%C3%A0ng-nguy%C3%AAn-nguy%E1%BB%85n-1a1b15258/" class="profile">Linkedin</a>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="/img/nguyenlh.png" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Lê Hữu Nguyên</p>
                        <p class="industry">Software Engineering</p>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/l%C3%AA-h%E1%BB%AFu-nguy%C3%AAn-37ba26259/" class="profile">Linkedin</a>
            </div>
        </div>
        <div class="bottom">
            <div class="card">
                <div class="card__img">
                    <img src="/img/thuylt.jpg" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Lê Thị Thúy</p>
                        <p class="industry">Software Engineering</p>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/thanh-thuy-565700259/" class="profile">Linkedin</a>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="/img/hieunx.jpg" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Nguyễn Xuân Hiếu</p>
                        <p class="industry">Software Engineering</p>
                    </div>
                </div>
                <a href="https://www.linkedin.com/in/hieu-n-5b14a7217" class="profile">Linkedin</a>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="/img/hongnt.jpeg" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Nguyễn Thị Hồng</p>
                        <p class="industry">Graphic Design</p>
                    </div>
                </div>
                <a href="" class="profile">Linkedin</a>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="../img/3d-nft-art.png" alt="">
                </div>
                <div class="card__information">
                    <div class="card__information--name">
                        <p class="nameMember">Phạm Thắng Lộc</p>
                        <p class="industry">Graphic Design</p>
                    </div>
                </div>
                <a href="" class="profile">Linkedin</a>
            </div>
        </div>
    </div>
</div>




